{% extends 'layout/steps-base.html' %}

{% load static %}

{% block title %} Make payment page {% endblock %}

{% block layout %}


<section class=" min-h-[60vh]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <a href="#" class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full  hover:bg-blue-200">
            <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 me-3">New</span> <span class="text-sm font-medium">Jumbotron component was launched! See what's new</span> 
            <svg class="w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
        </a>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Make Payment page </h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">Are Your sure your want to processed with this Payment <a href="{% url 'cart:cart' %}">No am not sure</a></p>
        <div class="">   

                                <button  onclick="payWithPaystack()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Processed with the Payment</button>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script>
    function payWithPaystack() {
        let currency = 'NGN';
        let plan = '';
        let ref = '{{payment.ref}}';
        let amount = '{{payment.amount}}';
        let pubKey = '{{paystack_pub_key}}';
        let obj = {
            key: pubKey,
            email: '{{payment.email}}',
            amount: '{{amount}}',
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'payment:verify_payment' payment.ref %}";
            },
        };
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase();
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
        
</script>

<script type="application/javascript" src="https://js.paystack.co/v1/inline.js"></script>

{% endblock %}