{% load static %}

<section class="w-full gap-3 h-fit px-2 flex-wrap md:flex-nowrap lg:px-[10%] mx-auto flex justify-between py-4 bg-gradient-to-br from-red-300 via-rose-200 to-purple-200">
        <div class="flex flex-col gap-2 md:w-1/2 justify-center">
           <div class="md:w-[100px] w-[90px]">
            <a href="{% url 'core:home' %}">
              <img class="w-full md:w-full" src="{% static '/images/logo/logo2.svg' %}" alt="">
            </a>
          </div>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt 
            consequatur nesciunt veniam consectetur magni alias dolores optio vitae, 
            fugit perspiciatis.</p>
            <div class="flex items-center gap-2">
                <a href="#"><i class="fa-brands fa-instagram text-2xl hover:-translate-y-2 duration-300 ease-in-out"></i></a>
                <a href="#"><i class="fa-brands fa-facebook text-2xl hover:-translate-y-2 duration-300 ease-in-out"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp text-2xl hover:-translate-y-2 duration-300 ease-in-out"></i></a>
                <a href="#"><i class="fa-brands fa-youtube text-2xl hover:-translate-y-2 duration-300 ease-in-out"></i></a>
            </div>
        </div>
        <div class="flex flex-col items-center gap-3 md:w-2/3 justify-center">
             <a
          href="{% url 'core:home' %}"
          class="hover:bg-red-500 {% if request.path == '/' %} bg-red-500 text-white {% endif %} p-1 rounded transition ease-in-out delay-150"
          >Home</a
        >
        <a
          href="{% url 'core:shop' %} "
          class="hover:bg-red-400 p-1 rounded transition ease-in-out delay-150 {% if request.path == '/shop/' %} bg-red-500 text-white {% endif %}"
          >Menu</a
        >
        <a
          href="#"
          class="hover:bg-red-200 p-1 rounded transition ease-in-out delay-150"
          >Recipes</a
        >
        <a
          href="#"
          class="hover:bg-red-200 p-1 rounded transition ease-in-out delay-150"
          >Orders</a
        >
        <a
          href="#"
          class="hover:bg-red-200 p-1 rounded transition ease-in-out delay-150"
          >Contact</a
        >
        </div> 
        <div class=" flex flex-col justify-center px-4 gap-3 md:w-1/2">
            <h2 class="text-2xl font-bold">CONTACT</h2>
            <p>Babique@gmail.com</p>
            <span class="text-sm md:text-md">&copy;logo 2023 . All rights reserved.</span>
            <div class="flex gap-2 items-center">
              <div class="w-[50px] hover:-translate-y-2 duration-300 ease-in-out">
                <img class="w-full" src="{% static 'images/icons/mastercard.png' %}" alt="">
              </div>
              <div class="w-[50px] hover:-translate-y-2 d4uration-300 ease-in-out">
                <img class="w-full" src="{% static 'images/icons/stripe.png' %}" alt="">
              </div>
              <div class="w-[50px] hover:-translate-y-2 duration-300 ease-in-out">
                <img class="w-full" src="{% static 'images/icons/visa.png' %}" alt="">
              </div>
            </div>
        </div>
    </section>